<div id="<%= dom_id school %>">
  <p>
    <strong>Name:</strong>
    <%= school.name %>
  </p>

  <p>
    <strong>Nursery:</strong>
    <%= school.nursery %>
  </p>

  <p>
    <strong>Kindergarten:</strong>
    <%= school.kindergarten %>
  </p>

  <p>
    <strong>Grade1:</strong>
    <%= school.grade1 %>
  </p>

  <p>
    <strong>Grade2:</strong>
    <%= school.grade2 %>
  </p>

  <p>
    <strong>Grade3:</strong>
    <%= school.grade3 %>
  </p>

  <p>
    <strong>Grade4:</strong>
    <%= school.grade4 %>
  </p>

  <p>
    <strong>Grade5:</strong>
    <%= school.grade5 %>
  </p>

  <p>
    <strong>Grade6:</strong>
    <%= school.grade6 %>
  </p>

  <p>
    <strong>Grade7:</strong>
    <%= school.grade7 %>
  </p>

  <p>
    <strong>Grade8:</strong>
    <%= school.grade8 %>
  </p>

  <p>
    <strong>Grade9:</strong>
    <%= school.grade9 %>
  </p>

  <p>
    <strong>Grade10:</strong>
    <%= school.grade10 %>
  </p>

  <p>
    <strong>Grade11:</strong>
    <%= school.grade11 %>
  </p>

  <p>
    <strong>Grade12:</strong>
    <%= school.grade12 %>
  </p>

  <p>
    <strong>School division ward:</strong>
    <%= school.school_division_ward_id %>
  </p>

</div>
