<% content_for (:page_title) {"Schools"} %>

<p style="color: green"><%= notice %></p>

<h1 class="title is-spaced">Schools</h1>

<div class="block columns">
  <div class="subtitle column">Total: <%= pluralize @schools_count, "schools" %></div>
  <div class="column is-one-fifth"><%= paginate @schools_per_page %></div>
</div>

<table id="schools" class="table">
  <thead>
    <tr>
      <td>
        <strong>School Name</strong>
      </td>
      <td>
        <strong>Nursery Students</strong>
      </td>
      <td>
        <strong>Kindergarten Students</strong>
      </td>
      <td>
        <strong>Primary Students</strong>
      </td>
      <td>
        <strong>Secondary Students</strong>
      </td>
      <td>
        <strong>School Division Ward</strong>
      </td>
      <td>
        <strong>Ward</strong>
      </td>
      <td>
        <strong>School Division</strong>
      </td>
    </tr>
  </thead>
  <tbody>
  <% @schools_per_page.each do |school| %>
    <tr>
      <th>
        <%= link_to school.name, school %>
      </th>
      <td>
        <%= show_grade_students school.nursery %>
      </td>
      <td>
        <%= show_grade_students school.kindergarten %>
      </td>
      <td>
        <%= show_primary_students school %>
      </td>
      <td>
        <%= show_secondary_students school %>
      </td>
      <td>
        <%= link_to pluralize(school.school_division_ward.home_addresses.count, "home address"), school.school_division_ward %>
      </td>
      <td>
        <%= link_to school.school_division_ward.ward.name, school.school_division_ward.ward %>
      </td>
      <td>
        <%= link_to school.school_division_ward.school_division.name, school.school_division_ward.school_division %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to "New school", new_school_path %>
