<%= form_with(model: school_division_ward) do |form| %>
  <% if school_division_ward.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(school_division_ward.errors.count, "error") %> prohibited this school_division_ward from being saved:</h2>

      <ul>
        <% school_division_ward.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :school_division_id, style: "display: block" %>
    <%= form.text_field :school_division_id %>
  </div>

  <div>
    <%= form.label :ward_id, style: "display: block" %>
    <%= form.text_field :ward_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
