<% content_for (:page_title) {school_division_ward.name} %>

<div id="<%= dom_id school_division_ward %>">
  <p class="title">
    <strong>School Division Ward Name:</strong>
    <%= school_division_ward.name %>
  </p>

  <div class="block m-4">
    <p class="block">
      <strong>Ward:</strong>
      <%= link_to school_division_ward.ward.name, school_division_ward.ward %>
    </p>

    <p class="block">
      <strong>School division:</strong>
      <%= link_to school_division_ward.school_division.name, school_division_ward.school_division %>
    </p>

    <p class="mt-4">
      <strong>Schools:</strong>
    </p>
    <ol class="ml-6">
      <% school_division_ward.schools.each do |school| %>
        <li>
          <%= link_to school.name, school %>
        </li>
      <% end %>
    </ol>

    <p class="mt-4">
      <strong>Home Addresses:</strong>
    </p>
    <ol class="ml-6">
      <% school_division_ward.home_addresses.each do |home_address| %>
        <li>
          <%= link_to "#{home_address.street_number} #{home_address.street_name}", home_address %>
        </li>
      <% end %>
    </ol>
  </div>

</div>
