<p style="color: green"><%= notice %></p>

<%= render "layouts/index_header", items_name: 'school division wards', items_count: @school_division_wards_count, items_per_page: @school_division_wards_per_page %>

<table id="school_division_wards" class="table">
  <thead>
    <tr>
      <td>
        <strong>School Division Ward Name</strong>
      </td>
      <td>
        <strong>Ward</strong>
      </td>
      <td>
        <strong>School Division</strong>
      </td>
      <td>
        <strong>Schools #</strong>
      </td>
      <td>
        <strong>Home Addresses #</strong>
      </td>
    </tr>
  </thead>
  <tbody>
  <% @school_division_wards_per_page.each do |school_division_ward| %>
    <tr>
      <th>
        <%= link_to school_division_ward.name, school_division_ward %>
      </th>
      <td>
        <%= link_to school_division_ward.ward.name, school_division_ward.ward %>
      </td>
      <td>
        <%= link_to school_division_ward.school_division.name, school_division_ward.school_division %>
      </td>
      <td>
        <%= school_division_ward.schools.count %>
      </td>
      <td>
        <%= school_division_ward.home_addresses.count %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to "New school division ward", new_school_division_ward_path %>
