<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:page_title) + " - " if content_for?(:page_title) %>School Seats</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="level px-6 mb-6 has-background-link">
      <nav class="level-left level-item navbar navbar-menu navbar-start has-background-link">
        <%= link_to 'Home', root_path, class: "navbar-item has-text-white" %>
        <%= link_to 'Wards', wards_path, class: "navbar-item has-text-white" %>
        <%= link_to 'School Divisions', school_divisions_path, class: "navbar-item has-text-white" %>
        <%= link_to 'School Division Wards', school_division_wards_path, class: "navbar-item has-text-white" %>
        <%= link_to 'Schools', schools_path, class: "navbar-item has-text-white" %>
        <%= link_to 'Home Addresses', home_addresses_path, class: "navbar-item has-text-white" %>
        <%= link_to 'About', about_path, class: "navbar-item has-text-white" %>
      </nav>

      <div class="level-right level-item ">
        <%= form_with(url: search_schools_path, method: :get, local: true) do %>
          <div class="field is-horizontal is-grouped">
            <div class="control is-expanded">
              <%= text_field_tag(:keywords, nil, class: "input", placeholder: 'search for school') %>
            </div>
            <div class="control select">
              <%= select_tag("school_division_ward", options_from_collection_for_select(retrieve_select_options, "id", "name"), include_blank: "-- All School Division Wards --" ) %>
            </div>
            <div class="control">
              <%= submit_tag("Search", class: "button is-primary") %>
            </div>
          </div>
        <% end %>
      </div>

    </div>
    <div class="mx-6">
      <%= yield %>
    </div>
  </body>
</html>
