<p style="color: green"><%= notice %></p>

<%= render @school_division, school_division_wards: @school_division_wards %>

<div>
  <%= link_to "Edit this school division", edit_school_division_path(@school_division) %> |
  <%= link_to "Back to school divisions", school_divisions_path %>

  <%= button_to "Destroy this school division", @school_division, method: :delete %>
</div>
